# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Environment Variables (CRITICAL)
.env
.env.local
.env.*.local

# Project Specific
temp_audio/
caddy_data/
caddy_config/

# OS specific
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs
.vscode/
.idea/
*.swp
