translator.47.129.9.175.nip.io {
    reverse_proxy translator-app:8000
}

enrollment.47.129.9.175.nip.io {
    reverse_proxy enrollment-frontend:80
}

judge.47.129.9.175.nip.io {
    reverse_proxy pairwise-frontend:80
}

47.129.9.175.nip.io {
    reverse_proxy homepage-app:80
}
